.portfolio-thumbnail{

	border:none;
	
	
}

.thumbnail.portfolio-thumbnail{

	border:none;
	
	
} 

.portfolio-thumbnail-img{

	border:none;
	
	
}	
.col-md-4 {
	border:none;
}

.row{
	position:center;
}

#syria_title {
    opacity: 0;
    color:blue;
    visibility:visible;
    background-color: black;
    display: inline-block;

}



#syria_title img:hover {
    opacity: 1;
    color:blue;
    visibility:visible;
    background-color: black;
    display: inline-block;
    visibility:visible;
}


.brightness {
    background-color: black;
    display: inline-block;

}
.brightness img:hover {
    opacity: .5;
}




.portfolio-full{
	width:60%;
	float:right;
	right: 200px;
	
}

.image-overlay {
	display: inline-block;
	position: relative;

	opacity:.9;
	background: black;
	color: white;
	text-align:center;
	vertical-align:center;
	font-size:24px;
	
	font-weight: bold;
	/*text-shadow:0px 0px 20px #fff;*/

	visibility: hidden;
	
}

.portfolio-thumb:hover .image-overlay {
	visibility: visible;
	position: absolute;
	text-align:center;
	padding-top: 150px;
	opacity: .8;
	width:359.98px;
	height:359.98px;
	bottom:50px;
	top:-20px;

}


