

.row{
	position:center;
	
}


#syria_title {
    opacity: 0;
    color:blue;
    visibility:visible;
    background-color: black;
    display: inline-block;

}



#syria_title img:hover {
    opacity: 1;
    color:blue;
    visibility:visible;
    background-color: black;
    display: inline-block;
    visibility:visible;
}


.brightness {
    background-color: black;
    display: inline-block;

}
.brightness img:hover {
    opacity: .5;



}

.brightness2 {
    background-color: black;
    display: inline-block;

}

.brightness2 img:hover {
    opacity: .5;



}


.carousel-caption {
    color:white;
    text-align:center;
    display:inline-block;
    position:absolute;



}





.portfolio-full{
	width:60%;
	float:right;
	right: 200px;
	
}

.thumbnail {
	max-width: 360px;
	max-height: 360px;
}

.image-overlay {
	position: absolute;
	top: 0px;
	bottom: 0;
	
	text-align:center;
	
	color: white;
	font-weight: bold;
	/*text-shadow:0px 0px 20px #fff;*/

	visibility: hidden;
	opacity: 0;
}

.thumbnail:hover .image-overlay {
	visibility: visible;
	
}

.portfolio-thumbnail{
	color:black;
	
}

.row, .portfolio-content{
	margin-bottom: 8%;
	text-align: center;
}

.portfolio-content{
	padding: 0px;

}	

